<%- include('../partials/header.ejs') %>
  <body>
	<!-- <script src="index.js"></script> -->
   REGISTER
   <h1><%= locals.message %></h1>
   <form action="/users/register" method="POST">
        <label>First name
            <input type="text" name="firstName" value="<%= locals.data?.firstName %>" />
        </label>
        <br/>
        <label>Last name
            <input type="text" name="lastName" value="<%= locals.data?.lastName %>" />
        </label>
        <br/>
        <label>Username
          <input type="text" name="username" value="<%= locals.data?.username %>" />
        </label>
        <br/>
        <label>Email
          <input type="text" name="email" value="<%= locals.data?.email %>" required />
        </label>
        <br/>
        <label>Password
            <input type="password" name="password" value="" required/>
        </label>
        <button type="submit">Submit</button>
    </form>
  </body>
<%- include('../partials/footer.ejs') %>